# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/flms-backend/.env
/flms-frontend/.env
/flms-frontend/.env
/flms-backend/uploads/healthCert-1776336553350-916920223.HEIC
/flms-backend/uploads/healthCert-1776338745672-882734163.jpg
/flms-backend/uploads/passportPhoto-1776336553314-845854561.HEIC
/flms-backend/uploads/passportPhoto-1776338745664-643654536.jpg
/flms-backend/uploads/personalPhoto-1776336553397-595391971.pdf
/flms-backend/uploads/personalPhoto-1776338745682-499623044.jpg
/flms-backend/uploads/residencyPhoto-1776336553390-668093753.pdf
/flms-backend/uploads/residencyPhoto-1776338745680-262672904.jpg
/flms-frontend/.env
/flms-frontend/.env
